<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetmanagementshoppingsystemapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Budget"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetManagementShoppingSystemApplication">
        <activity android:name=".ManagePayment.PayByCash"
            android:label="Pay at Counter"></activity>
        <activity
            android:name=".ManagePayment.CustomerViewHistory"
            android:label="History"
            android:parentActivityName=".CustomerHomepage" />
        <activity
            android:name=".ManagePayment.CardPayment"
            android:label="Card Payment"
            android:parentActivityName=".ManagePayment.CustomerCheckout" />
        <activity
            android:name=".ManagePayment.ViewInvoice"
            android:label="Invoice List"
            android:parentActivityName=".AdminHomepage" />
        <activity
            android:name=".ManagePayment.CustomerInvoice"
            android:label="Invoice" />
        <activity
            android:name=".ManagePayment.CustomerCheckout"
            android:label="Checkout"
            android:parentActivityName=".ManageBudgetTracking.ViewCart" />
        <activity
            android:name=".ManageProduct.CustomerViewProduct"
            android:label="Product Information"
            android:parentActivityName=".ManageBudgetTracking.ViewCart" />
        <activity
            android:name=".ManageBudgetTracking.AddToCart"
            android:label="Add to Cart"
            android:parentActivityName=".ManageBudgetTracking.ViewCart" />
        <activity
            android:name=".ManageBudgetTracking.Budget"
            android:label="Budget Setting"
            android:parentActivityName=".CustomerHomepage" />
        <activity
            android:name=".ManageBudgetTracking.ViewCart"
            android:label="Shopping Cart"
            android:parentActivityName=".ManageBudgetTracking.Budget" />
        <activity
            android:name=".ManageProduct.EditForm"
            android:label="Update Product"
            android:parentActivityName=".ManageProduct.ViewForm" />
        <activity
            android:name=".ManageProduct.ViewForm"
            android:label="Product Detail"
            android:parentActivityName=".ManageProduct.ViewList" />
        <activity
            android:name=".ManageProduct.ViewList"
            android:label="Product List"
            android:parentActivityName=".AdminHomepage" />
        <activity
            android:name=".ManageProduct.AddProduct"
            android:label="Add New Product"
            android:parentActivityName=".ManageProduct.ViewList" />
        <activity
            android:name=".ManageAccount.ViewAccountDetail"
            android:label="Customer Detail"
            android:parentActivityName=".ManageAccount.ViewAccountList" />
        <activity
            android:name=".ManageAccount.ViewAccountList"
            android:label="Account List"
            android:parentActivityName=".AdminHomepage" />
        <activity
            android:name=".AdminHomepage"
            android:label="Admin Homepage"
            android:parentActivityName=".ManageAccount.MainActivity" />
        <activity
            android:name=".ManageAccount.EditProfile"
            android:label="Edit Profile"
            android:parentActivityName=".ManageAccount.ViewProfile" />
        <activity
            android:name=".ManageAccount.ViewProfile"
            android:label="Profile"
            android:parentActivityName=".CustomerHomepage" />
        <activity
            android:name=".CustomerHomepage"
            android:label="Customer Homepage"
            android:parentActivityName=".ManageAccount.MainActivity" />
        <activity
            android:name=".ManageAccount.Register"
            android:label="Register"
            android:parentActivityName=".ManageAccount.MainActivity" />
        <activity
            android:name=".ManageAccount.MainActivity"
            android:label="BMSSA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageProduct.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>